@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular);
body {
  text-align: center;
  font-family: "Press Start 2P";
  background: url("../img/wallpaper.jpg");
}

p {
  font-size: 20px;
  background: linear-gradient(rgb(0, 45, 245), rgb(255, 0, 234));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#score {
  position: relative;
  margin-left: 600px;
  margin-top: -770px;
}
canvas {
  position: relative;
  background: rgb(31, 30, 30);
  width: 400px;
  height: 800px;
  border: 2px solid;
  border-image: linear-gradient(rgb(0, 45, 245), rgb(255, 0, 234)) 1;
}
#start {
  font-family: "Press Start 2P";
  background: linear-gradient(rgb(0, 45, 245), rgb(255, 0, 234));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: transparent;
  font-size: 20px;
  position: absolute;
  margin-left: 22px;
  margin-top: 730px;
  border: 0px solid transparent;
}
#restart {
  font-family: "Press Start 2P";
  background: linear-gradient(rgb(0, 45, 245), rgb(255, 0, 234));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: transparent;
  font-size: 20px;
  position: absolute;
  margin-left: 22px;
  margin-top: 770px;
  border: 0px solid transparent;
}

#start:hover,
#restart:hover {
  background: linear-gradient(rgb(255, 0, 234), rgb(0, 45, 245));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#play {
  width: 80px;
  height: 80px;
  background: url("../img/imageOfButton.png");
  background-repeat: no-repeat;
  background-size: 80px;
  font-size: 2px;
  position: absolute;
  margin-left: -502px;
  margin-top: 740px;
  border: 0px solid transparent;
}

#play:hover {
  background: url("../img/imageOfButtonHover.png");
  background-repeat: no-repeat;
  background-size: 80px;
}
